@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Roboto+Condensed&display=swap');

@mixin flexCentering($justify, $align){
    display:flex;
    justify-content:$justify;
    align-items:$align;
}

@mixin genericButton(){
    text-align: center;
    background: $green;
    color:#fff;
    border:2px solid $green;
    border-radius:3px;
    padding:10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        color:$green;
        background: #fff;
    }
}

$green: #65913d;
$lightgrey: #efefef;
$grey: #ccc;
$darkgrey: #666;
$white: #fff;
$lightblack: #1d1d1d;

@media only screen and (max-width: 800px) {
    .dayBox{
        width:80px !important;
        height:80px !important;
        margin:10px !important;
        padding-top:2% !important;
        font-size:15px !important;
        .calendarPlus{
            top: 10% !important;
        }
        .dayBoxInfo{
            font-size:8px !important;
        }
    }
    #topBar{
        h1{
            font-size:15px !important;
        }
    }
    #addingBox{
        width:95% !important;
        h2{
            margin-top:30%;
        }
    }
    #overlayerTitle{
        font-size:10px !important;
    }
    #overlayerDate{
        font-size:8px !important;
    }
    .cancelEvent{
        font-size:13px !important;
        padding:5px !important;
        width:15px !important;
        height:15px !important;
    }
    #buttonsBox{
        width:100% !important;
    }
    .readyButton, .saveEditedEvent{
        font-size:14px !important;
        padding:10px 10px !important;
    }
    .readyButton{
        width:550px !important;
        margin-right:10px;
    }
    .saveEditedEvent{
        width:250px;
        margin-left:10px;
    }
}

body, html{
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
}

*{
    box-sizing: border-box;
}

#hamburgerBox{
    @include flexCentering(center, center);
    width:80px;
    height:80px;
    position: fixed;
    top:0%;
    left:0%;
    z-index:11;
    cursor: pointer;
    #hamburger{
        position: absolute;
        transition: all 0.2s;
        span{
            display: block;
            background: $green;
            height:5px;
            width:40px;
            margin:5px;
            border-radius: 50px;
            transition: all 0.5s;
        }
    }
}

#drop{
    @include flexCentering(center, center);
    background-image:url('../img/drag.png');
    background-position: center center;
    background-repeat:no-repeat;
    width:100px;
    height:100px;
    padding:10px;
    border:2px dashed $green;
    margin:5% 0;
    img{
        object-fit: cover;
        width:100px;
        height:100px;
    }
}

nav{
    left:-100%;
    z-index:10;
    position: absolute;
    background: $green;
    width:auto;
    height:auto;
    color:#fff;
    padding:50px;
    transition: left 0.5s;
    border:2px solid $green;
    border-bottom-right-radius: 100px;
    ul{
        height:auto;
        margin:25% 0 0 0;
        padding:0;
        list-style-type: none;
        .currentMonth{
            background: #fff;
            color: $green;
        }
        li{
            @include flexCentering(center, flex-start);
            width:auto;
            margin:10px;
            padding:5px 10px;
            font-size:14px;
            border: 2px solid #fff;
            cursor: pointer;
            transition: all 0.5s;
            text-transform: uppercase;
            &:hover{
                background: #fff;
                color:$green;
            }
        }
    }
}

#topBar{
    @include flexCentering(center, flex-start);
    background: $lightgrey;
    padding:20px;
    width:100%;
    border-bottom: 2px solid $grey;
    h1{
        color:$green;
        font-family: 'Fredoka One', cursive;
        margin:0;
        font-size:30px;
        letter-spacing: 5px;
        text-transform: uppercase;
        border:2px solid $green;
        padding:10px;
        border-radius: 50px;
        text-align: center;
    }
}

#container{
    @include flexCentering(center, flex-start);
    width:100%;
    height:100%;
    background: $white;   
    #calendar{
        @include flexCentering(center, center);
        flex-wrap: wrap;
        width:80%;
        height:auto;
        .dayBox{
            @include flexCentering(center, center);
            position: relative;
            border:2px solid $green;
            width:150px;
            height:150px;
            margin:2px;
            border-radius:3px;
            flex-direction: column;
            font-size:22px;
            color:$darkgrey;
            cursor: pointer;
            transition: all 0.3s;
            .calendarPlus{
                position: absolute;
                top:35%;
            }
            .weekDay{
                @include flexCentering(center, center);
                width:100%;
                border-bottom:1px solid $white;
            }
            img{
                position: absolute;
                top:0;
                max-width:100%;
                object-fit: cover;
            }
            .dayBoxInfo{
                @include flexCentering(center, center);
                position: absolute;
                bottom:0;
                flex-direction: column;
                font-size:10px;
                color:$white;
                background-color: $green;
                min-width:100%;
                max-width:100%;
                text-align: center;
                padding:10px;
            }
            #dayBoxDateInfo{
                margin-top:20%;
                font-size:15px;
                color: $lightblack;
            }
            .cancelEvent{
                @include flexCentering(center, center);
                position: absolute;
                top:1.5%;
                right:1.5%;
                color:$green;
                font-size:17px;
                transition: all 0.3s;
                //padding:5px;
                width:25px;
                height:25px;
                transition: all 0.3s;
                background: $white;
                border-radius:50%;
                &:hover{
                    background: $green;
                    color: $white;
                }
            }
            &:hover{
                background: $lightgrey;
                font-size:30px;
            }
            #overlayerInfo{
                @include flexCentering(center, flex-start);
                position: absolute;
                width:100%;
                height:auto;
                background: rgba(0, 0, 0, 0.8);
                color:$white;
                text-align: center;
                bottom:0;
                font-size:20px;
                padding:5px;
                #overlayerTitle{
                    @include flexCentering(center, center);
                    color:$green;
                    border-right:1px solid $green;
                    padding-right:5px;
                    font-size:16px;

                }
                #overlayerDate{
                    @include flexCentering(center, center);
                    padding-left:5px;
                    font-size:12px;
                    flex-direction: column;
                }
            }
        }
    }
}

#addingBox{
    @include flexCentering(center, center);
    width:60%;
    height:auto;
    max-height: 98%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius:10px;
    z-index:100;
    padding:30px;
    flex-direction: column;
    transition: all 0.2s;
    h2{
        @include flexCentering(center, flex-start);
        font-size:35px;
        width:90%;
        text-transform: uppercase;
        letter-spacing: 5px;
        color:$green;
        text-align: center;
        margin-top: 10%;
        border-bottom:2px solid $green;
    }
    #url{
        border-radius: 50px;
        margin:20px;
        border:2px solid $grey;
        outline: none;
        padding:10px 15px;
        width:70%;
    }
    #warning{
        margin-top:50px;
    }
    #closeAddingURL{
        @include flexCentering(center, center);
        color:$green;
        position: absolute;
        top:3%;
        right:3%;
        font-size: 30px;
        transition: all 0.2s;
        padding:10px;
        width:50px;
        height:50px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            border:1px solid $green;
            border-radius: 50%;
        }
    }
    #saveUrl{
        font-size:15px;
        margin-top:50px;
        padding:10px 20px;
        color:$white;
        border-radius:50px;
        border:2px solid $green;
        background: $green;
        cursor: pointer;
        transition: all 0.3s;
        width:180px;
        &:hover{
            color:$green;
            background: transparent;
        } 
    }
    #can{
        display: block;
    }
    #dateBox{
        @include flexCentering(center, center);
        color:#1d1d1d;
     
    }
    #imageBox{
        @include flexCentering(center, center);
        width:90%;
        height: auto;
        .choosedImg{
            transition: transform .2s;
            transform: scale(1.5);
            border:5px solid $green;
        }
        .placeholderImg{
            @include flexCentering(center, center);
            width:20%;
            height:20%;
            margin:10% 5%;
            cursor: pointer;
            -webkit-box-shadow: 4px 7px 12px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 7px 12px -2px rgba(0,0,0,0.75);
            box-shadow: 4px 7px 12px -2px rgba(0,0,0,0.75);
            img{
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    #choosePlaceholderImg{
        @include genericButton();
    }
    #popUpShowing{
        @include flexCentering(center, center);
        flex-direction: column;
        opacity: 0;
        width:80%;
        transition: opacity 0.5s;
    
    #closePopup{
        @include flexCentering(center, center);
        color:$green;
        position: absolute;
        top:1%;
        right:1%;
        font-size: 20px;
        transition: all 0.2s;
        padding:7px;
        width:45px;
        height:45px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            border:1px solid $green;
            border-radius: 50%;
        }
    }
    h2{
        @include flexCentering(center, flex-start);
        font-size:35px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color:$green;
        border-bottom:2px solid $green;
    }
    #time{
        border:2px solid $grey;
        border-radius: 50px;
        width:100px;
        height:auto;
        padding:5px;
        &:focus{
            outline: none;
        }
    }
    .slash{
        padding:10px;
        font-size:30px;
    }
    #hour{
        width:70px;
        height:10px;
        border-radius:15px;
        padding:15px;
        font-size:10px;
        text-align: center;
        border:2px solid $grey;
        &:focus{
            outline: none;
        }
    }
    #minutes{
        text-align: center;
        width:70px;
        height:10px;
        border-radius:15px;
        padding:15px;
        font-size:10px;
        border:2px solid $grey;
        &:focus{
            outline: none;
        }
    }
    #titleBox{
        @include flexCentering(center, center);
    }
    #title{
        @include flexCentering(center, center);
        max-width: 100%;
        border-radius:50px;
        padding:10px;
        font-size:22px;
        border:2px solid $grey;
        margin-top:20px;
        text-align: center;
        &:focus{
            outline: none;
        }
    }
    
    #buttonsBox{
        @include flexCentering(space-around, center);
        width:70%;
        #drawButton{
            text-align: center;
            margin:70px 20px 0 0;
        }
        #checkButton{
            @include flexCentering(center, center);
            text-align: center;
            margin-top:70px;
        }
        #drawButton, #checkButton{
            @include flexCentering(center, center);
            @include genericButton();
        }
        #uploadButton, #placeholderImgBtn{
            text-align: center;
            color:$green;
            padding:10px 15px;
            width:30%;
            border:2px solid $green;
            border-radius: 3px;
            margin:70px 0 0 0;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                background: $green;
                color:#fff;
            }
        }
    }
  }
}

#overlayer{
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.8);
    width:100vw;
    height:100vh;
    z-index:12;
}
